body {
  padding:0;
  margin:0;
  background-image: url("bg.jpg");
  font: normal 18px Verdana, Geneva, sans-serif;
  color: white;
}
canvas {
  display:block;
  margin:30px auto 0;
  background:#000;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #FFFFFF;
}